#feature_too{
    background:#465b9508;
    .feature_too_content{
        margin-top: 200px;
        h2{
            font-size: 40px;
            font-weight: 700;
            line-height: 46.88px;
            color:#172755;
        }
        p{
            font-size: 18px;
            font-weight: 400;
            line-height: 27px;
            color:#8794BA;
        }
    }
    .feature_too_img{
        margin-top: 100px;
    }
}