@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
.site_header {
  position: absolute;
  width: 100%;
}
.site_header .header {
  display: flex;
  align-content: center;
  justify-content: center;
  justify-content: space-between;
}
.site_header .header .site_logo {
  margin-top: 11px;
}
.site_header .header .site_logo img {
  width: 100%;
}
.site_header .header .site_nav {
  margin-top: 20px;
}
.site_header .header .site_nav ul {
  display: flex;
  gap: 2rem;
}
.site_header .header .site_nav ul li {
  list-style: none;
}
.site_header .header .site_nav ul li a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #8794ba;
  text-decoration: none;
}
.site_header .header .site_nav ul li a:hover {
  color: #ef2a82;
  transition: 0.5 ease-in-out;
}
.site_header .header .site_btn {
  display: flex;
  margin-top: 5px;
}
.site_header .header .site_btn .primary_btn a {
  color: #8794ba;
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-decoration: none;
}
.site_header .header .site_btn .secondary_btn {
  margin-top: 13px;
  background: transparent;
  border: 1px solid #465b95;
  width: 95px;
  height: 30px !important;
  border-radius: 50px;
}
.site_header .header .site_btn .secondary_btn a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  text-decoration: none;
  color: #8794ba;
}
.site_header .header .toggle_btn {
  margin-top: 18px;
  font-size: 20px;
  display: none;
  color: #fff;
}

@media (max-width: 992px) {
  .site_nav {
    display: none !important;
  }
  .site_btn {
    display: none !important;
  }
  .toggle_btn {
    display: block !important;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

body {
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
}

.banner_sec {
  width: 100%;
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
.banner_sec .banner_content {
  display: flex !important;
  flex-direction: column;
  align-items: left;
  justify-content: center;
  height: 100vh !important;
}
.banner_sec .banner_content h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  color: #FFFFFF;
}
.banner_sec .banner_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8794BA;
}
.banner_sec .banner_content .banner_btn button {
  background: #EF2A82;
  padding: 8px 28px;
  border-radius: 68px;
}
.banner_sec .banner_content .banner_btn button a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #FFFFFF;
  text-decoration: none;
}
.banner_sec .banner_img {
  position: absolute;
  top: 100px;
}
.banner_sec .banner_img img {
  width: 100%;
}

@media (max-width: 992px) {
  .banner_content h1 {
    font-size: 30px !important;
    font-weight: 700;
    line-height: 38px !important;
    color: #FFFFFF;
  }
  .banner_content p {
    font-size: 14px !important;
    font-weight: 400;
    line-height: 27px;
    color: #8794BA;
  }
  .banner_img {
    display: none !important;
  }
}
#features {
  background: rgba(70, 91, 149, 0.031372549);
  margin-top: 48px;
}
#features .content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  color: #172755;
}
#features .content h2 span {
  color: #ef2a82;
}
#features .content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8794ba;
}
#features .features_content .f_img {
  display: flex;
  align-items: center;
  justify-content: center;
}
#features .features_content h4 {
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  line-height: 18.75px;
  color: #172755;
}
#features .features_content p {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 22.4px;
}

#feature_too {
  background: rgba(70, 91, 149, 0.031372549);
}
#feature_too .feature_too_content {
  margin-top: 200px;
}
#feature_too .feature_too_content h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 46.88px;
  color: #172755;
}
#feature_too .feature_too_content p {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: #8794BA;
}
#feature_too .feature_too_img {
  margin-top: 100px;
}

#pricing {
  width: 100%;
  height: 100vh;
  background-position: center !important;
  background-size: cover !important;
  background-repeat: no-repeat !important;
}
#pricing .pricing_content {
  padding-top: 50px;
}
#pricing .pricing_content h2 {
  font-size: 40px;
  font-weight: 700;
  color: white;
}
#pricing .pricing_content p {
  font-size: 16px;
  font-weight: 400;
  line-height: 27px;
  color: #8794BA;
}
#pricing .pricing_card {
  width: 300px;
  height: 350px;
  border: 1px solid #2A407C;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  box-shadow: #192A59 20% 0px 5px 15px;
}
#pricing .pricing_card:hover {
  background: white;
  transition: 0.5s ease-in-out;
}
#pricing .pricing_card:hover h6 {
  color: #172755;
}
#pricing .pricing_card:hover h5 {
  color: #172755;
}
#pricing .pricing_card:hover button a {
  color: #172755;
}
#pricing .pricing_card h6 {
  font-size: 30px;
  font-weight: 700;
  line-height: 35.16px;
  color: white;
  margin-top: 50px;
}
#pricing .pricing_card span {
  font-size: 18px;
  font-weight: 400;
  line-height: 40px;
  color: #8794BA;
  font-variant: small-caps;
}
#pricing .pricing_card h5 {
  font-size: 60px;
  font-weight: 700;
  line-height: 70.31px;
  color: #fff;
}
#pricing .pricing_card h5 sub {
  font-size: 30px;
  font-weight: 600;
}
#pricing .pricing_card button {
  margin-top: 10px;
  padding: 5px 40px;
  border: 1px solid #2A407C;
  border-radius: 68.5px;
}
#pricing .pricing_card button a {
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #fff;
  font-variant: small-caps;
  margin-bottom: 5px;
}

#footer {
  background-color: #172755;
  padding-left: 100px;
}
#footer .logo {
  width: 100%;
  margin-top: 5px;
}
#footer .footer_menu {
  margin-top: 13px;
}
#footer .footer_menu ul {
  display: flex;
  gap: 2rem;
}
#footer .footer_menu ul a {
  font-size: 16px;
  font-weight: 400;
  line-height: 18.75px;
  color: #8794ba;
  text-decoration: none;
  font-variant: small-caps;
}
#footer .social_icon {
  margin-top: 13px;
}
#footer .social_icon ul {
  display: flex;
  gap: 1.5rem;
}
#footer .social_icon ul a {
  color: #8794BA;
  font-size: 20px;
  font-weight: 900;
}/*# sourceMappingURL=style.css.map */